* {
  margin: 5;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100vw;
  height: 100vh;
  
}

.video-grid video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

