* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 90vw;
  height: 90vh;
  
}

.video-grid video {
  width: 120%;
  height: 140%;
  object-fit: cover;
}

